django==4.2.1
djangorestframework
django-cors-headers
django-jazzmin
gunicorn
whitenoise
dj-database-url
psycopg2-binary
requests
reportlab
africastalking
pdfplumber
pandas
python-docx
beautifulsoup4
requests